// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.table {
    --bs-table-bg: unset;
}

.send-button {
    border: 1px solid #708CD5;
    color: #A9BAE6;
}

.send-button:hover {
    background-color: #708CD5;
    color: #fff;
}

.btn-done {
    background-color: #F8FAFC;
    color: #F8FAFC;
    border: unset;
    border-radius: 2px;
    padding: 7px;
}

.btn-done-page {
    background-color: #E2DFE8;
    color: #E2DFE8;
    border: unset;
    border-radius: 2px;
    padding: 7px;
}

.btn-done-page:hover {
    color: #58555E;
}

.btn-done:hover {
    color: #58555E;
}

.options-group {
    position: relative;
    text-align: right;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #F8FAFC;
    padding: 7px 0;
    padding-right: 25px;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 10px;
    z-index: 2;
    span {
        margin-left: 10px;
    }
}

.option {
    display: flex;
    margin-bottom: 8px;
    white-space: nowrap;
}

.open {
    display: block;
}

#group-button {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

tr.element-to-hover:hover #group-button {
    visibility: visible;
    opacity: 1;
}

.bg-priority-1 {
    background: #C8E6C9;
    .btn-done {
        background-color: #E2F3E3;
        color: #E2F3E3;
    }

    .btn-done:hover {
        color: #58555E;
    }
}

.bg-priority-2 {
    background: #FFDDA0;
    .btn-done {
        background-color: #FFFFE0;
        color: #FFFFE0;
    }

    .btn-done:hover {
        color: #58555E;
    }
}

.bg-priority-3 {
    background: #FFD180;
    .btn-done {
        background-color: #FFE4B5;
        color: #FFE4B5;
    }

    .btn-done:hover {
        color: #58555E;
    }
}

.bg-priority-4 {
    background: #FF6666;
    .btn-done {
        background-color: #FFD6D6;
        color: #FFD6D6;
    }

    .btn-done:hover {
        color: #58555E;
    }
}
