// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.send-button {
    border: 1px solid #708CD5;
    color: #A9BAE6;
}

.send-button:hover {
    background-color: #708CD5;
    color: #fff;
}

